<p class="title">
  About
  <span class="line"></span>
</p>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h3>Hogeschool van Arnhem en Nijmegen (HAN) / University of Applied Science </h3>
    </mat-expansion-panel-header>

    <mat-panel-description>
      <h4>In general</h4>
    </mat-panel-description>
    <mat-panel-description>
      <p class="aboutText">HAN is one of the largest universities of applied sciences in the Netherlands. It manages
        more than 3500 employees
        within the HAN from the campuses in Arnhem and Nijmegen, over 35.000 students, 64 bachelor programs and 18
        masters in the variants
        full-time, part-time and dual. In addition, the HAN offers 14 associate degrees and approximately 300 courses
        and training courses.
        HAN also applies research, including 36 professorships and 7 centers of expertise on knowledge innovation.
      </p>
    </mat-panel-description>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h3>Informatics Communication Academy (ICA)</h3>
    </mat-expansion-panel-header>

    <mat-panel-description>
      <h4>In general</h4>
    </mat-panel-description>
    <mat-panel-description>
      <p class="aboutText">The Informatics Communication Academy (ICA) provides higher professional education and master
        programs
        at the HAN University of Applied Sciences in the field of informatics, digital media and communication.
      </p>
    </mat-panel-description>
    <mat-panel-description>
      <h4>Practically oriented</h4>
    </mat-panel-description>
    <mat-panel-description>
      <p class="aboutText">With more than 1600 students and approximately 120 employees the Informatica
        Communication
        Academy in Gelderland is seen as the beating heart of higher education for future Bachelors of ICT. The academy
        stands for
        a well-considered mix of IT and Communication embedded in a practical approach. The student states that due to
        this working method,
        he/she gets a considerate practical insight of how things are done to meet the market requirements.
      </p>
    </mat-panel-description>

  </mat-expansion-panel>

</mat-accordion>
