<header>
  <div class="container">
    <nav>
      <ul>
        <li><img routerLink="" class="logo" src="./assets/logo.png"></li>
        <li><a routerLink=""><i class="fas fa-home"></i> Home</a></li>
        <li><a routerLink="/repositories"><i class="fas fa-folder-open"></i> Repositories</a></li>
        <li><a routerLink="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
        <li><a routerLink="/about"><i class="fas fa-user-alt"></i> About</a></li>
      </ul>
    </nav>
  </div>
  <p class="copyright">&copy;{{currentYear}} All rights reserved </p>
</header>
