<p class="title">
  Home
  <span class="line"></span>
</p>

<mat-card>
  <h2>What is FullProjectCloner?</h2>
  <p>FullProjectCloner makes it possible to clone a repository to selected recipients. Cloning will include the full
    GitHub repository including its issues and project board.</p>
  <h2>How does it work?</h2>
  <ul>
    <li>The user authenticates with GitHub.</li>
    <li>The user installs the GitHub app on their GitHub account.</li>
    <li>The user selects a specific GitHub project.</li>
    <li>The user chooses recipient(s).</li>
    <li>A request e-mail will be sent out to the recipient(s).</li>
    <li>The recipient accepts the link sent to their email address.</li>
    <li>The recipient authenticates with GitHub.</li>
    <li>The recipient installs the GitHub app on their GitHub account.</li>
    <li>The recipient chooses to clone the project to their GitHub account.</li>
  </ul>
</mat-card>
